In [1]:
## Multiclass classification of the IRIS Flower Dataset
import numpy
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

# fix random seed for reproducibility
seed= 7
numpy.random.seed(seed)

Using TensorFlow backend.

In [6]:
from sklearn.datasets import load_iris

In [7]:
Iris = load_iris()

In [8]:
Iris.data.shape

(150, 4)

In [9]:
# convert the data into pandas dataframe and add add target in the dataframe
df = pd.DataFrame(Iris.data, columns=Iris.feature_names)

In [10]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [11]:
# include the target
df['Target'] = Iris.target

In [12]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [25]:
dataset= df
X= dataset[:, 0:4].astype(float)
Y= dataset[:, 4]

In [28]:
# encode class values as integers
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y= encoder.transform(Y)

In [29]:
# convert integers yo dummy variables ( apply one hot encoding)
dummy_y = np_utils.to_categorical(encoded_Y)

In [30]:
# define baseline model
def baseline_model():
    # create model
    model = Sequential()
    model.add(Dense(4 , input_dim=4, kernel_initializer='normal', activation ='relu'))
    model.add(Dense(3, kernel_initializer='normal', activation='sigmoid'))
    
    # compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [37]:
estimator = KerasClassifier(build_fn = baseline_model, epochs=500, batch_size=5, verbose=0)
kfold = KFold(n_splits=10, shuffle=True, random_state=seed)
results = cross_val_score(estimator , X, dummy_y, cv = kfold)
print('Accuracy: %.2f%% (%.2f%%)' % (results.mean()*100, results.std()*100))

Accuracy: 96.00% (5.33%)